
* {
    box-sizing: border-box;
}

body {
    background-image: url("images/fondos/fondo tutoriales.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Roboto;
}

.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
    margin: 0 12.5%;
}

.logo {
    height: 40px;
    background-color: white;
    border: 2px solid white;
}

.menu {
    display: flex;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.menu li {
    margin: 1rem 2rem;
    padding: .7rem 1.5rem;
    border-radius: 15%/40%;
    background-color: rgba(255, 51, 0, 0.89);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: white;
}

.video-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem 1rem;
    padding: 2rem 0;
    margin: 50px 10% 0;
    background-color: rgba(0, 0, 0, 0.3)
}

.video-container {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

.thumbnail {
    position: relative;
    display: flex;
}

.thumbnail::before {
    content: attr(data-duration);
    position: absolute;
    background-color: rgba(0, 0, 0, .85);
    color: white;
    right: 5px;
    bottom: 5px;
    padding: .1em .3em;
    border-radius: .3em;
    font-size: .9rem;

}

.thumbnail-image {
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 150px;
    background-color: #AAA;
}

.thumbnail-image:hover {
    border-radius: 10%;
    border: 1px solid white;
}

.video-title {
    font-size: 1.1rem;
    margin-bottom: .5rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.753);
}

.video-title:hover {
    color: black;
}

.video-section-title {
    grid-column: 1 / -1;
    margin: -.5rem 0;
    padding: 0 .5rem 0;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.856);
}
